/****Color Styles****/
:root {
  --color-1: #55a59e;
  --color-2: #99c6b9;
  --color-3: #61283f;
  --color-4: #8f6a5b;
  --color-5: #bca98c;
}

/*****Universal Styles****/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", sans-serif;
  font-style: 100%;
}

h1,
h2,
h3 {
  font-family: "Verdana", sans-serif;
  color: var(--color-3);
}
body {
  margin: 0;
}

*::selection {
  background: var(--color-1);
  color: black;
}

/*****Header Styles******/

[src] {
  width: 10%;
  border-radius: 100%;
  border-width: 0.5rem;
  border-style: double;
  border-color: var(--color-3);
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.13rem;
  background-color: var(--color-2);
  color: black;
}

.hire-me:hover {
  background-color: var(--color-1);
  text-transform: uppercase;
}

.site-header {
  padding: 1rem;
  text-align: center;
  color: var(--color-3);
  background-color: var(--color-5);
}

.profession::after {
  content: "🖥️";
}

/****Link Styles****/
.mail {
  color: var(--color-3);
}

nav {
  background: var(--color-3);
  padding: 1rem;
  border-radius: 0.3rem;
}

.nav-link {
  padding: 0.3rem 1rem;
  color: var(--color-5);
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--color-4);
  color: var(--color-5);
  border-radius: 0.3rem;
}

.nav-link:active {
  background-color: var(--color-4);
}

.nav-link + .nav-link {
  margin: 1rem;
}

/*****Main Styles***/

.site-main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

.site-main > * + * {
  margin-top: 3rem;
}
.site-main > * {
  border-top: 0.13rem solid black;
}

.site-main > *:first-child {
  border-top: none;
}

.p {
  position: relative;
  display: inline;
  left: 3rem;
}

.info-section {
  position: relative;
  left: 1rem;
}

#work {
  display: inline-block;
}
